<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hugui.mutildatabase.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.hugui.mutildatabase.entity.User">
		<id column="id" property="id" />
		<result column="password" property="password" />
		<result column="username" property="username" />
	</resultMap>

	<select id="findAll" resultMap="BaseResultMap">
		select * from user
	</select>

	<insert id="add" useGeneratedKeys="true">
		insert into
		user(password,username) values (#{password},#{username})
	</insert>
</mapper>
